{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron text-center">
        <h1 class="display-4">Inventory</h1>
    </div>

    <a href="/" class="btn btn-primary">Go back to shop</a>

    <div class="card-deck" style="width: 70rem;">
        <div class="card">
            <img class="card-img-top" src="static/red.jpeg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Red Playing Card</h4>
                <a href="/cart" class="btn btn-primary">Go to Cart</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="static/blue.jpeg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Blue Playing Card</h4>
                <a href="/cart" class="btn btn-primary">Go to Cart</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="static/black.jpeg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Black Playing Card</h4>
                <a href="/cart" class="btn btn-primary">Go to Cart</a>
            </div>
        </div>
    </div>

    <div class="card-deck" style="width: 70rem;">
        <div class="card">
            <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/1788/4029/products/img295_c6bf0639-c885-49c2-b779-e31da9861316_grande.jpg?v=1531950608" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Gold Playing Card</h4>
                <a href="/cart" class="btn btn-primary">Go to Cart</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/1788/4029/products/img721_84842e52-a809-4641-8674-76ed9e7a36b3_grande.jpg?v=1542154931" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Green Playing Card</h4>
                <a href="/cart" class="btn btn-primary">Go to Cart</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/1788/4029/products/img462_78cdc323-298b-4a9f-a86d-459cde72cba7_grande.jpg?v=1532122047" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Kasa Playing Card</h4>
                <a href="/cart" class="btn btn-primary">Go to Cart</a>
            </div>
        </div>
    </div>

    <div class="card-deck" style="width: 70rem;">
        <div class="card">
            <img class="card-img-top" src="https://www.mindgames.ca/content/images/thumbs/0010158_bicycle-rhapsody-playing-cards_550.jpeg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Rhapsody Playing Card</h4>
                <a href="/cart" class="btn btn-primary">Go to Cart</a>
            </div>
        </div>
    </div>

{% endblock %}



